/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
./*header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
}*/
/* Make the masthead heading the same height as the navigation */
/*.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/
./*container-narrow > hr {
  margin: 30px 0;
}*/

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
*/
/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}


.carnets{
	display: inline-block;
	float: left;
	font-size:0;
	width: 67%;
	height: 96%;
	border-left: 1px solid #8E8E8E;
}
.carnet{
	display: inline-block;
	font-size: initial;
	width: 25%;
	height: 25%;
	opacity: 0.9;
}
.carnet-vide{
	opacity: 0.2;
}
/*.carnet:hover{
	opacity: 1;
}*/

.carnet:hover {
  opacity: 1;
  cursor: pointer;
}

.carnet-classe{
	font-size: 200%;
	width: 170px;
	height: 60%;
	padding-top: 16%;
	padding-left: 30%;
	margin: 0;
	text-align: center;
	color: white;
	font-family: Futura Bold;
	white-space: nowrap;
	overflow: hidden;
}
strong.carnet-classe{
	height: 100%;
	max-width: 100px;
	padding-left: 0;
}

.carnet-college{
	font-size: 100%;
	width: 100%;
	height: 40%;
	padding-bottom: 24%;
	text-align: center;
	color: white;
	font-family: Futura Book;
}

.carnet-eleve{
	position: relative;
	font-size: 100%;
	width: 100%;
	text-align: left;
	color: white;
	font-family: Futura Bold;
}
svg.carnet-eleve{
	width: 100%;
	height: 100%;
	display: block;
}

span.carnet-eleve-nom{
	font-size: 100%;
	position: absolute;
	top: 84%;
	left: 5%;
}
span.carnet-eleve-prenom{
	font-size: 100%;
	position: absolute;
	top: 73%;
	left: 5%;
}

/* The CSS */
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}
row {
    display: table;
}

.squares{margin:0 -19px 20px -16px;overflow:hidden}
.squares .squares-list{padding-left:0;list-style:none}
.squares-list li{float:left;width:25%;height:127.56px;font-size:100%;text-align:center;}
.square {margin-top:5px;margin-bottom:10px;font-size:24px}
.square-text{
  display:block;
  text-align:center;
  word-wrap:break-word;
  position: relative;
  font-size: 150%;
  width: 100%;
  color: white;
  font-family: Futura Bold;
  z-index:1!important
}

.menu-text {
  font-size: 150%;
  width: 100%;
  color:#64BDF5;
  font-family: Futura Bold;
}

.menu-text-hidden {
  font-size: 150%;
  width: 100%;
  color:#D3D8DB;
  font-family: Futura Bold;
}
.menu-text-black {
  font-size: 150%;
  width: 100%;
  font-family: Futura Bold;
}
.classe-text  {
  margin-top:5px;margin-bottom:10px;
  text-align:center;
  word-wrap:break-word;
  position: absulute;
  font-size: 200%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.groupe-text {
  margin-top:5px;margin-bottom:10px;
  text-align:center;
  word-wrap:break-word;
  position: absulute;
  font-size: 150%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.empty-icon {
  background-image: url("public/images/00_vide.svg");
  width:213.333px;
  height:200px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  word-wrap:break-word;
  font-size: 300%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.famille-icon {
  background-image: url("../images/famille.svg");
  width:213.333px;
  height:200px;
}

.profs-icon {
  background-image: url("../images/profs.svg");
  width:213.333px;
  height:200px;
}

.eleves-icon {
  background-image: url("../images/eleves.svg");
  width:213.333px;
  height:200px;
}

.tous-icon {
  background-image: url("../images/tous.svg");
  width:213.333px;
  height:200px;
}

.personnel-icon {
  background-image: url("../images/personnel.svg");
  width:213.333px;
  height:200px;
}

.annonce_icon {
  background-image: url("../images/annonce.svg");
  width:213.333px;
  height:200px;
}


/*.squares li:hover{opacity:0.1;}@media (min-width:768px){.bs-glyphicons{margin-left:0;margin-right:0}.bs-glyphicon*/

.square-icon{display:block;text-align:center;word-wrap:break-word;padding:5%; font-size:100%;}


/*input[type=checkbox].css-checkbox {
        display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
        padding-left:37px;
        height:32px; 
        display:inline-block;
        line-height:32px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:32px;
        vertical-align:middle;
        cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -32px;
}

label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_c277ab9d9ec677eb91e7b8c18d9285d8.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/


input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{ background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png); }


/* overriding  angular loading bar css */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #FA5858;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

/* transparent colors */
.bleu-clear {
  background-color:#1aa1cc;
  opacity:0.3;
}
.vert-clear {
  background-color:#80ba66;
  opacity:0.3;
}
.rouge-clear {
  background-color:#eb5454;
  opacity:0.3;
}
.orange-clear {
  background-color:#ff5f00;
  opacity:0.3;
}
.violet-clear { 
  background-color:#9c75ab;
  opacity:0.3;
}
.jaune-clear {
  background-color:#e8c254;
  opacity:0.3;
}
.gris1-clear{ 
  background-color:#b2b2b2;
  opacity:0.3;
}
.gris2-clear {
  background-color:#8e8e8e; 
  opacity: 0.3;
}
.gris3-clear {
  background-color:#505050; 
  opacity: 0.3;
}
.gris4-clear {
  background-color:#323232; 
  opacity: 0.3;
}
a {
  cursor: pointer; 
}

.area {
  width:50%;
  height: 300px;
  padding: 0;
  border: 1px solid #ccc;
}

/* override  angular loading bar css */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: red;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.banner {
}
.banner .container {
    background-color: white;
    min-height: 200px;
    padding: 40px 30px 30px 40px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
h1{
    font-family: Futura Bold;
    font-weight: 300;
    color:#64BDF5;
}

h2{
    font-family: Futura Bold;
    font-weight: 200;
    color:#64BDF5;
}

p {
    font-family: 'Lato', sans-serif;
}

.transparent{
  font-weight: 200;
  color:#64BDF5;
  font-family: Futura Bold;
  opacity:0.5;
}

.menu-text-transparent {
  font-size: 150%;
  width: 100%;
  color:#64BDF5;
  font-family: Futura Bold;
  opacity:0.5;
}
