h1{
  font-family: Open Sans Bold;
  color:#1AA1CC;
}

h2{
  font-family: Open Sans Bold;
  color:#1AA1CC;
}

.square-text{
  display:block;
  text-align:center;
  word-wrap:break-word;
  position: relative;
  width:90%;
  height:2.5em;
  overflow:hidden;
  color: white;
  font-family: Open Sans Light;
  z-index:1!important
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 150%;
  }

  h2{
    font-size: 120%;
  }

  .square-text{
    font-size: 120%;
  }
}

/* Responsive Text */
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  h1{
    font-size: 150%;
  }

  h2{
    font-size: 120%;
  }

  .square-text{
    font-size: 120%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1{
    font-size: 150%;
  }

  h2{
    font-size: 120%;
  }

  .square-text{
    font-size: 120%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  h1{
    font-size: 200%;
  }

  h2{
    font-size: 150%;
  }

  .square-text{
    font-size: 150%;
  }
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

/* The CSS */
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}
row {
    display: table;
}

.squares{margin:0 -19px 20px -16px;overflow:hidden}
.squares .squares-list{padding-left:0;list-style:none}
.squares-list li{float:left;width:25%;height:127.56px;font-size:100%;text-align:center;}
.square {margin-top:5px;margin-bottom:10px;font-size:24px}


.square-image {
  width:100%;
  height: 100%;
}

.menu-text {
  font-size: 150%;
  width: 100%;
  color:#1AA1CC;
  font-family: Open Sans Regular;
}

.menu-text-hidden {
  font-size: 150%;
  width: 100%;
  color:#B2B2B2;
  font-family: Open Sans Regular;
}
.menu-text-black {
  font-size: 150%;
  width: 100%;
  font-family: Futura Bold;
}
.classe-text  {
  margin-top:5px;margin-bottom:10px;
  text-align:center;
  word-wrap:break-word;
  position: absulute;
  font-size: 200%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.groupe-text {
  margin-top:5px;margin-bottom:10px;
  text-align:center;
  word-wrap:break-word;
  position: absulute;
  font-size: 150%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.empty-icon {
  background-image: url("../images/00_vide.svg");
  width:213.333px;
  height:200px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  word-wrap:break-word;
  font-size: 300%;
  color: white;
  font-family: Futura Bold; 
  z-index:1!important
}

.text-icon {
  background-image: url("../images/00_vide.svg");
  width:213.333px;
  height:200px;
  color: white;
  font-family: Futura Bold;
  font-size: 100%;
  z-index:1!important 
}

.famille-icon {
  background-image: url("../images/famille.svg");
  width:213.333px;
  height:200px;
}

.profs-icon {
  background-image: url("../images/profs.svg");
  width:213.333px;
  height:200px;
}

.eleves-icon {
  background-image: url("../images/eleves.svg");
  width:213.333px;
  height:200px;
}

.tous-icon {
  background-image: url("../images/tous.svg");
  width:213.333px;
  height:200px;
}

.personnel-icon {
  background-image: url("../images/personnel.svg");
  width:213.333px;
  height:200px;
}

.annonce_icon {
  background-image: url("../images/annonce.svg");
  width:213.333px;
  height:200px;
}


/*.squares li:hover{opacity:0.1;}@media (min-width:768px){.bs-glyphicons{margin-left:0;margin-right:0}.bs-glyphicon*/

.square-icon{display:block;
  text-align:center;
  word-wrap:break-word;
  padding:5%; 
  font-size:100%;}

input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{ background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png); }

/* transparent colors */
.bleu-clear {
  background-color:#1aa1cc;
  opacity:0.3;
}
.vert-clear {
  background-color:#80ba66;
  opacity:0.3;
}
.rouge-clear {
  background-color:#eb5454;
  opacity:0.3;
}
.orange-clear {
  background-color:#ff5f00;
  opacity:0.3;
}
.violet-clear { 
  background-color:#9c75ab;
  opacity:0.3;
}
.jaune-clear {
  background-color:#e8c254;
  opacity:0.3;
}
.gris1-clear{ 
  background-color:#b2b2b2;
  opacity:0.3;
}
.gris2-clear {
  background-color:#8e8e8e; 
  opacity: 0.3;
}
.gris3-clear {
  background-color:#505050; 
  opacity: 0.3;
}
.gris4-clear {
  background-color:#323232; 
  opacity: 0.3;
}
a {
  cursor: pointer; 
}

.area {
  width:50%;
  height: 300px;
  padding: 0;
  border: 1px solid #ccc;
}

/* override  angular loading bar css */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: red;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.banner {
}
.banner .container {
    background-color: white;
    min-height: 200px;
    padding: 40px 30px 30px 40px;
}

/*
h1{
    font-family: Open Sans Bold;
    font-size: 200%;
    color:#1AA1CC;
}

h2{
    font-family: Open Sans Bold;
    font-size: 150%;
    color:#1AA1CC ;
}
*/
p {
    font-family: 'Lato', sans-serif;
}

.transparent{
  font-weight: 200;
  color:#64BDF5;
  font-family: Open Sans Bold;
  opacity:0.5;
}

.menu-text-transparent {
  font-size: 150%;
  width: 100%;
  color:#64BDF5;
  font-family: Open Sans Regular;
  opacity:0.5;
}

.text-scroll {
    height: 200px;
    overflow:scroll;
    overflow-x:hidden;
}

/* scorll bar style chrome*/
::-webkit-scrollbar {
    width:8px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C0C0C0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
scrollbars, thumb {
  -moz-appearance: none !important;
  background-color: #C0C0C0;
}

#checked {
    color: #eb5454;
    font-size: 1.5em;
}
