/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
./*header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
}*/
/* Make the masthead heading the same height as the navigation */
/*.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/
./*container-narrow > hr {
  margin: 30px 0;
}*/

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
*/
/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}


.carnets{
	display: inline-block;
	float: left;
	font-size:0;
	width: 67%;
	height: 96%;
	border-left: 1px solid #8E8E8E;
}
.carnet{
	display: inline-block;
	font-size: initial;
	width: 25%;
	height: 25%;
	opacity: 0.9;
}
.carnet-vide{
	opacity: 0.2;
}
/*.carnet:hover{
	opacity: 1;
}*/

.carnet:hover {
  opacity: 1;
  cursor: pointer;
}

.carnet-classe{
	font-size: 200%;
	width: 170px;
	height: 60%;
	padding-top: 16%;
	padding-left: 30%;
	margin: 0;
	text-align: center;
	color: white;
	font-family: Futura Bold;
	white-space: nowrap;
	overflow: hidden;
}
strong.carnet-classe{
	height: 100%;
	max-width: 100px;
	padding-left: 0;
}

.carnet-college{
	font-size: 100%;
	width: 100%;
	height: 40%;
	padding-bottom: 24%;
	text-align: center;
	color: white;
	font-family: Futura Book;
}

.carnet-eleve{
	position: relative;
	font-size: 100%;
	width: 100%;
	text-align: left;
	color: white;
	font-family: Futura Bold;
}
svg.carnet-eleve{
	width: 100%;
	height: 100%;
	display: block;
}

span.carnet-eleve-nom{
	font-size: 100%;
	position: absolute;
	top: 84%;
	left: 5%;
}
span.carnet-eleve-prenom{
	font-size: 100%;
	position: absolute;
	top: 73%;
	left: 5%;
}

/* The CSS */
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }


