*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
public/pdfs/*
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
config/annuaire.rb
config/database.rb
config/CASLaclasseCom.rb
tmp
npm-debug.log

# YARD artifacts
.yardoc
_yardoc
doc/
