language: ruby
rvm:
  - "2.2.2"

script:
  - "bundle exec rubocop -D"

before_install:
  - gem install bundler -v 1.10.2

gemfile:
  - Gemfile

branches:
  only:
    - master
    - develop

notifications:
  email:
    recepients:
      - glemoine@erasme.org
  slack:
    rooms:
      - erasme:IWf0zN63Kuw5HgeJVwhnhxAC#laclassebeta
