'use strict';

/* constant for static pages routing */
angular.module('services.constants', []); 
angular.module('services.constants').constant('APPLICATION_PREFIX', '/publipostage');
angular.module('services.constants').constant('BASE_SERVICE_URL', '/publipostage/api');