<div class="row" ng-app="myApp" ng-cloak class="ng-cloak">
    <div ui-view>
    </div>
		<span id="gritter"  gritter-add></span>
	</div>
    <!--<pre>Monde de sinatra <%=env['rack.session'][:current_user].to_html%></pre>-->
</div>