<div class="row" ng-app="myApp" ng-cloak class="ng-cloak">
    <div ui-view>
    </div>
    <div ng-controller='FayeCtrl'>
    	<!--<input type='button' value='Chat' id='fire'  ng-click="publish()"/> -->
		<span id="gritter"  gritter-add></span>
	</div>	
    <!--<pre>Monde de sinatra <%=env['rack.session'][:current_user].to_html%></pre>-->
</div>