<div class="banner">
    <div class="container">
        <h1>Application publipostage</h1>
        <p>Votre profil ne vous donne pas le droit d'accès à cette application.</p>
        <a href="/portail">Retour au portail.</a>
    </div>
</div>
