
<div class='container jumbotron'>
    <h1>Page Publique</h1>
    <p class='lead'> Bienvenue au publipostage... <br/>
       à l'aide de cette application, vous pouvez envoyer des messages aux autres utilisateurs.
    </p>
</div>