<div class="banner">
    <div class="container">
        <h1>Bienvenue au publipostage</h1>
        <p>à l'aide de cette application, vous pouvez envoyer des messages aux autres utilisateurs.</p>
    </div>
</div>