<div class="row-fluid">
    <div class="col-md-4 col-lg-4">
      <div class="row">
          <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
              <h2><strong>Faire une annonce</strong></h2>
              <p class="menu-text visible-md visible-lg">
                  Un court message sera envoyé
                  aux destinataires. L’annonce
                  s’affichera en direct en haut à
                  droite de l’écran.
              </p>
              <h2 class="visible-md visible-lg"> étape 1: type de message</h2>
              <p class="menu-text visible-md visible-lg"> faire une annonce
              <h2 class="visible-md visible-lg">étape 2: les destinataire</h2>
              <h2><strong>étape 3: Ecrire l’annonce</strong></h2>
          </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="row" ng-class="menus[$state.params['param']].color">
            <div class="col-xs-10">
                <div style="padding:4%">
                    <form role="form">
                        <div class="form-group">
                          <textarea  ui-tinymce="tinymceOptions" ng-model="notification" ng-init="notification='Ecrire une annonce de 300 caractères maximum.'"></textarea>
                          {{notification}}
                        </div>
                    </form>
                    <div style="text-align: center">
                        <a class="btn" ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="sendNotification(notification);Redirect.goToEnvoi($state.params['param'])">envoyer
                        </a>
                    </div>
                </div>    
            </div>
       </div>
    </div>
</div>