<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 aside">
      <div class="row-fluid">
          <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
              <p style="color:#64BDF5">
                  <strong>Faire une annonce</strong><br/>
                  Un court message sera envoyé
                  aux destinataires. L’annonce
                  s’affichera en direct en haut à
                  droite de l’écran.
              </p>
              <p style="color:#64BDF5"> Etape 1: type de message</p>
              <p style="color:#64BDF5"> faire une annonce 
              <p style="color:#64BDF5"><strong> Etape 2: les destinataire</strong></p>
              <p style="color:#64BDF5">Sélectionner le profil destinataire de l’annonce</p>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row" ng-class="menus[$state.params['param']].color">
            <div class="col-xs-10">
                <div style="padding:4%">
                    <form role="form">
                        <div class="form-group">
                          <textarea  ui-tinymce="tinymceOptions" ng-model="notification"></textarea>
                          {{notification}}
                        </div>
                    </form>
                    <div style="text-align: center">
                        <a class="btn" ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="sendNotification(notification)">envoyer
                        </a>
                    </div>
                </div>    
            </div>
       </div>
    </div>
</div>