<div class="row-fluid">
    <div class="col-md-4 col-lg-4">
      <div class="row-fluid">
          <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
              <h2>Faire une annonce</h2>
              <p class="menu-text">
                  Un court message sera envoyé
                  aux destinataires. L’annonce
                  s’affichera en direct en haut à
                  droite de l’écran.
              </p>
              <h2>Etape 1: les destinataire</h2>
              <p class="menu-text">Sélectionner le profil destinataire de l’annonce</p>
          </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="row-fluid">
            <div ng-repeat="square in annonceSquares" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 {{ square.color }}" >
              <a ng-click="addMessageType('message type');Redirect.goTo(square.url)">
                <div class="square-icon">
                  <img class="center-block img-responsive" ng-src="{{square.icon}}"/>
                  <div class="square-text center-block">{{ square.text }}</div>
                </div>
              </a>
            </div>
       </div>
    </div>
</div>