<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p class="menu-text">Etape 1: type de message</p>
                <p class="menu-text">Etape 2: les destinataire</strong></p>
                <p class="menu-text">Etape 3: message</p>
                <p class="menu-text"><strong>Etape 4: aperçu</strong></p>
                <p class="menu-text">Vérifier le message avant l'envoi</p>
                </br>
                </br>
                </br>
                </br>
                </br>
                <a class='btn btn-info btn-sm'>voir l'historique</a>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8" ng-class="menus[$state.params['type']].color">
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div ng-class="menus[$state.params['type']].icon_div" class="famille-icon col-md-2 col-md-offset-5"></div>  <!-- col-md-2  col-md-2 to center content -->
        </div>
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <div style="margin-left:10%; margin-right:10%;">
                    <p style="text-align: ustify; background-color:white; padding-left:5%%; padding-right:5%; padding-top:1%;">
                    <strong>Titre de message:</strong>{{messageObject['title']}} <br/>
                    <strong>Destinataires:</strong><span ng-repeat="destination in messageObject['destinations']"> {{destination['classe_libelle']}}</span>
                    </p>
                    <p style="background-color:white; padding-left:5%%; padding-right:5%; padding-top:1%; height:200px;" ng-bind-html="toTrustedHtml(messageObject['message'])"></p>
                </div>
                <p style="text-align: center">
                    <a class="btn btn-default btn-sm" ng-class="menus[$state.params['type']].color" style="border-color:white;color:white" ng-click="goBackToMessage($state.params['type'])">reéditer</a>
                    <a class='btn btn-default btn-sm' ng-class="menus[$state.params['type']].color" style="border-color:white;color:white" href="#/mode_diffusion/{{$state.params['type']}}">choisir le mode de diffusion</a>
                </p>
            </div>
        </div>
    </div>
</div>