<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="color:#64BDF5">Etape 1: type de message</p>
                <p style="color:#64BDF5">Etape 2: les destinataire</strong></p>
                <p style="color:#64BDF5">Etape 3: message</p>
                <p style="color:#64BDF5"><strong>Etape 4: aperçu</strong></p>
                <p style="color:#64BDF5">Vérifier le message avant l'envoi</p>
                </br>
                </br>
                </br>
                <!--<p>
                    <a class='btn btn-info btn-sm' href="#/envoi">diffuser le message en ligne</a>
                </p>
                <p>
                    
                    <a class="btn btn-info btn-sm"> génerer un pdf</a>
                </p>-->
    
                </br>
                </br>
                <a class='btn btn-info btn-sm'>voir l'historique des info famille</a>
                <!--<h5>Récpitualif</h5>
                Message aux famille des:
                () mails
                () pdfs-->
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12 vert">
                <p style="text-align: justify">
                <label><strong>Destinataires:</strong></label> <p> Les famille de classe1, classe2 </p>
                <p><strong>Titre de message:</strong> Titre </p>
                <p ng-bind-html="toTrustedHtml(message)"></p>
                <p style="text-align: center">
                    <a class="btn btn-default btn-sm" ng-click="goBackToMessage()">reéditer</a>
                    <a class='btn btn-default btn-sm'  href="#/mode_diffusion">choisir le mode de diffusion</a>
                </p>
                </p>
            </div>
        </div>
    </div>    
</div>