<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="color:#64BDF5">  Etape 1: type de message</p>
                <p style="color:#64BDF5"> <strong>Etape 2: les destinataire</strong></p>
            
                <p style="color:#64BDF5"> Selectionner les classes  et les groupes destinataire des messages</p>
                </br>
                </br>
                <a class='btn btn-info btn-sm' ng-click="goToMessage($state.params['type'])">suivant</a>
                    
                </br>
                </br>
                
                <p style="color:#D3D8DB"><strong> {{menus[$state.params["type"]]['recpitualif']}}: <span ng-repeat= "classe in regroupements['classes']"> <span ng-show="classe.checked">{{classe.classe_libelle}}</span></span>
                <span ng-repeat= "groupe in regroupements['groupes_eleves']"> <span ng-show="groupe.checked">{{groupe.groupe_libelle}}</span></span></strong></p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gris3" >
                <a ng-click="goTo('/type_message/info_famille')">  
                    <div class="square-icon">
                      <data-ng-include class="svg" src="square.icone"></data-ng-include>
                      <span class="square-text"><i class="fa fa-users"></i></span>
                      <br>
                      <span class="square-text">{{menus[$state.params["type"]]['right_menu_text']}}</span>
                    </div>
                </a>
            </div>
            
            <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gris3" ng-show="$state.params['type']=='ecrire_profs'">
                <a ng-click="goTo('/type_message/info_famille')">  
                    <div class="square-icon">
                      <data-ng-include class="svg" src="square.icone"></data-ng-include>
                      <span class="square-text"><select><option>mathematique</option>
                        <option>autre</option>
                      </select></span>
                      <br>
                      <span class="square-text"> &nbsp;</span>
                       <span class="square-text"> </span>
                    </div>
                </a>
            </div>-->
            
            <div ng-repeat="classe in regroupements['classes']" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-class="classe.color">
                <a ng-click="changeClassColor($index);classe.checked=!classe.checked">
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span class="square-text"><i class="fa fa-users"></i></span>
                    <!--<br>-->
                    <span class="square-text">{{classe.classe_libelle}}</span>
                    <span class="square-text">{{classe.etablissement_nom}}</span>
                  </div>
                </a>
            </div>
            
            <div ng-repeat="groupe in regroupements['groupes_eleves']" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-class="groupe.color">
                <a ng-click="changeGroupColor($index);groupe.checked=!groupe.checked">
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span class="square-text"><i class="fa fa-users"></i></span>
                    <!--<br>-->
                    <span class="square-text">{{groupe.groupe_libelle}}</span>
                    <span class="square-text">{{groupe.etablissement_nom}}</span>
                  </div>
                </a>
            </div>
            
            <!--<div ng-repeat="emptysquare in empty_squares track by $index" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 {{emptysquare.color}}">
                <a>
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span class="square-text"></span>
                    <br>
                    <span class="square-text"></span>
                  </div>
                </a>
            </div>-->
            
        </div>
    </div>
</div>