<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="color:#64BDF5">Etape 1: type de message</p>
                <p style="color:#64BDF5">Etape 2: les destinataire</strong></p>
                <p style="color:#64BDF5">Etape 3: message</p>
                <p style="color:#64BDF5">Etape 4: aperçu</p>
                <p style="color:#64BDF5"><strong>Etape 5: envoi</strong></p>
                <p style="color:#64BDF5"><strong>Le message a étè sauvegardé dans les modèles</strong></p>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>    
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8 vert"  style="background-image: url('/app/bower_components/charte-graphique-laclasse-com/images/00_vide.svg');">
        <p style="text-align: center;"> Le message est créée! </p>
        <p style="text-align: center;">Le message a été diffusé en ligne  sur la page info famille.</p>
        <p style="text-align: center;">(0) messages ont été envoyés par mails.
        <p style="text-align: center;">(1564) messages sont à télécharger en fichier pdf :</p>
        <p style="text-align: center;">Le message à telecharger en fichier pdf</p>
        <p></p>
        <p></p>
        <p style="text-align:center"><a class='btn btn-default btn-sm' href="#/">écrire un autre message</a></p>   
    </div>
</div>