<div class="col-xs-1"></div>
<div class="col-xs-2">
    <p style="color:#64BDF5">Etape 1: type de message</p>
    <p style="color:#64BDF5">Etape 2: les destinataire</strong></p>
    <p style="color:#64BDF5">Etape 3: message</p>
    <p style="color:#64BDF5">Etape 4: aperçu</p>
    <p style="color:#64BDF5"><strong>Etape 5: envoi</strong></p>
    <p style="color:#64BDF5">Le message a étè sauvegardé dans les modèles</p>
    </br>
    </br>
    </br>
    <a class='btn btn-info btn-sm' href="#/">envoyer un autre message</a>
</div>
<div class="col-xs-8"  style="background-image: url(http://placehold.it/350x150);">
    <p style="text-align: center;"> L'info famille est créée! </p>
    <p style="text-align: center;">Le message a été diffusé en ligne  sur la page info famille.</p>
    <p style="text-align: center;">Le message à telecharger en fichier pdf</p>
    <p></p>
    <p></p>
</div>
<div class="col-xs-1">
    
</div>