<div class="col-xs-1"></div>
<div class="col-xs-2">
  <div class="row">
    <p style="color: #64BDF5">
      <strong>Outil de communication</strong>
    </p>
    <p style="color: #64BDF5">
      Info famille: pour diffuser un message aux familles d'élèves
      </br>
      </br>
      </br>
      <a class='btn btn-info btn-sm' href="#/destinataire">écrire une nouvelle info familles</a>
    </p>
  </div>
</div>
<div class="col-xs-8">
  <div class="row">
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td rowspan="2">

            <img src="http://placehold.it/140x100" alt="..." /> photo

          </td>
          <td>Enseignant matieres collegé 15 Mars 2014 14:00 <a class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a><a class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</td>
        </tr>

        <tr>
          <td rowspan="2"><img src="http://placehold.it/140x100" alt="..." /> photo</td>
          <td>Enseignant matieres collegé 15 Mars 2014 14:00 <a class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a><a class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>