<div class="row">
  <div class="col-xs-10 col-s-m11 col-md-10 col-lg-10 col-xs-offset-1 col-s-offset-1 col-md-offset-1 col-lg-offset-1">
    <h2> Gestion de vos publipostages</h2>
    <button class='btn btn-danger btn-sm' ng-disabled="!checked_many()" ng-click="removeSelectedPubli()"> supprimer la selection<span class="glyphicon glyphicon-trash"></span></button>
    <table class="table table-bordered table-hover">
        <thead>
            <th style="text-align:center;vertical-align:middle;">
                <input type="checkbox" ng-change="selectAll()" ng-model="check_all" rel="tooltip" title="tous">
            </th>
            <th>Date</th>
            <th>Type de message</th>
            <th>Mode de diffusion</th>
            <th>Titre</th>
            <th>Message</th>
            <th>Destinataires</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="publi in publis.data">
                <td style="text-align:center;vertical-align:middle;">
                    <input type="checkbox" ng-model="publi.checked">
                </td>
                <td>{{publi.date | date:'dd/M/yyyy HH:mm:ss'}}</td>
                <td>
                    <span class="label"
                          ng-class="{'label-success': publi.message_type == 'info_famille', 'label-primary': publi.message_type == 'ecrire_profs', 'label-warning': publi.message_type == 'ecrire_eleves', 'label-danger': publi.message_type == 'ecrire_personnels', 'violet': publi.message_type == 'ecrire_tous'}">{{publi.message_type}}</span>
    </span>
                </td>
                <td>{{publi.diffusion_type}}
                    <a type="button" class="btn btn-xs btn-default"
                       data-ui-sref="fichier( { id: publi.id } )"
                       ng:if="publi.diffusion_type == 'pdf'"
                       title="Feuilleter le fichier pdf généré"><span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
                <td>{{publi.descriptif}}</td>
                <td>
                    <p ng-bind-html="toTrustedHtml(publi.message)"></p>
                </td>
                <td><span ng-switch on="publi.message_type">
                    <span ng-switch-default>{{publi.destinataires_libelle }}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-default"
                            ng-click="relancerPubli( publi.id, 'message' )"
                            title="Ré-générer : relancer ce publipostage"><span class="glyphicon glyphicon-send"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default"
                            ng-click="relancerPubli( publi.id, 'destinataire' )"
                            title="Modifier ce publipostage"><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger"
                            ng-click="removePubli( publi.id )"
                            title="Supprimer ce publipostage"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary btn-sm" href="#/" tooltip="retour à la page publique"><i class="fa fa-reply"></i></button>
  </div>
</div>
