<div class="col-xs-1"></div>
<div class="col-xs-2">
    <div class="row">
        <p style="color: #64BDF5">
            <strong>Outil de communication</strong>
        </p>
        <p style="color: #64BDF5">Quel type de message souhaitez-vous diffuser?</p>
        <p style="color:#D3D8DB"> Etape 1: type de message</p>
        <p style="color:#D3D8DB"> Etape 2: les destinataire</p>
        <p style="color:#D3D8DB"> Etape 3: le message</p>
        <p style="color:#D3D8DB"> Etape 4: aperçu</p>
        <p style="color:#D3D8DB"> Etape 5: Envoi</p>
    </div>
</div>
<div class="col-xs-8" >
    <!--<div id="flashMessage" ng-class="flashStyle" ng-show="flashMessage">
            {{flashMessage}}
    </div>-->
    <div class="row">
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li ng-click="goTo('/info_famille')">
                  <span class="glyphicon"><i class="fa fa-users"></i></span>
                  <span class="glyphicon-class">info famille</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"><i class="fa fa-users"></i></span>
                  <span class="glyphicon-class">écrire aux profs</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"><i class="fa fa-users"></i></span>
                  <span class="glyphicon-class">écrire aux eleves</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"><i class="fa fa-users"></i></span>
                  <span class="glyphicon-class">écrire aux tous</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
            </ul>
        </div>    
    </div>  
    <div class="row">
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li>
                  <span class="glyphicon"></span>
                  <span class="glyphicon-class">distribuer les codes</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"></span>
                  <span class="glyphicon-class">faire une annonce</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"></span>
                  <span class="glyphicon-class">utiliser un modèle</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                <li>
                  <span class="glyphicon"></span>
                  <span class="glyphicon-class">ma messagerie</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
            </ul>
        </div>    
    </div>
    
    <a  href="#/publi">Gestion des publipostage</a>
</div>
<div class="col-xs-1"></div>


