<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 aside" style="border-left:10px solide #ff0000;">
      <div class="row-fluid">
          <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
              <p class="menu-text"> <strong>Etape 1: type de message</strong></p>
              <p class="menu-text">Quel type de message souhaitez-vous diffuser?</p>
              <p class="menu-text-hidden"> Etape 2: les destinataire</p>
              <p class="menu-text-hidden"> Etape 3: le message</p>
              <p class="menu-text-hidden"> Etape 4: aperçu</p>
              <p class="menu-text-hidden"> Etape 5: Envoi</p>
              <a href="#/publi" ng-show="security.isSuperAdmin()"><i class="fa fa-cogs fa-3x"></i> Gestion des publipostages </a>
          </div>


      </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row-fluid">
            <div ng-repeat="square in squares" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 {{ square.color }}" >
              <a ng-click="addMessageType('message type');Redirect.goTo(square.url)">
                <div class="square-icon">
                  <div><data-ng-include class="svg" src="square.icon"></data-ng-include></div>
                  <!--<span class="square-text"></span>-->
                  <div class="square-text">{{ square.text }}</div>
                </div>
              </a>
            </div>
       </div>
    <!--<a  href="#/publi">Gestion des publipostage</a>-->
    </div>
</div>    



