<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 aside" style="border-left:10px solide #ff0000;">
      <div class="row-fluid">
          <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
              <p style="color: #64BDF5">
                  <strong>Outil de communication</strong>
              </p>
              <p style="color:#64BDF5">Quel type de message souhaitez-vous diffuser?</p>
              <p style="color:#D3D8DB"> Etape 1: type de message</p>
              <p style="color:#D3D8DB"> Etape 2: les destinataire</p>
              <p style="color:#D3D8DB"> Etape 3: le message</p>
              <p style="color:#D3D8DB"> Etape 4: aperçu</p>
              <p style="color:#D3D8DB"> Etape 5: Envoi</p>
          </div>
      </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row-fluid">
            <div ng-repeat="square in squares" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 {{ square.color }}" >
              <a ng-click="addMessageType('message type');Redirect.goTo(square.url)">
                <div class="square-icon">
                  <div><data-ng-include class="svg" src="square.icon"></data-ng-include></div>
                  <!--<span class="square-text"></span>-->
                  <div class="square-text">{{ square.text }}</div>
                </div>
              </a>
            </div>
       </div>
    <!--<a  href="#/publi">Gestion des publipostage</a>-->
    </div>
</div>    



