<div class="col-xs-1"></div>
<div class="col-xs-2">
    <div class="row">
        <p style="color: #64BDF5">
            <strong>Outil de communication</strong>
        </p>
        <p style="color: #64BDF5">
            Info famille: pour diffuser un message aux familles d'élèves
            </br>
            </br>
            </br>
            <a class='btn btn-info btn-sm'>écrire une nouvelle info familles</a>
        </p>
    </div>
</div>
<div class="col-xs-8">
    <div class="row">
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li ng-click="goTo('/info_famille')">
                  <span class="glyphicon"><i class="fa fa-users"></i></span>
                  <span class="glyphicon-class">info famille</span>
                  <span class="glyphicon-class" ng-show="false"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
                
                <li ng-repeat = "classe in regroupements['classes']" ng-click="goToHistory(classe.classe_id)">
                    <span class="glyphicon">{{classe.classe_libelle}}</span>
                    <span class="glyphicon-class">{{classe.etablissement_nom}}</span>
                    <span class="glyphicon-class" ng-show="classe.checked"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li ng-repeat = "groupe in regroupements['groupes_eleves']" ng-click="goToHistory(groupe.groupe_id)">
                  <span class="glyphicon">{{groupe.groupe_libelle}}</span>
                  <span class="glyphicon-class">{{groupe.etablissement_nom}}</span>
                  <span class="glyphicon-class" ng-show="groupe.checked"><i class="fa fa-check-square-o fa-lg"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-1"></div>