<!-- Example row of columns -->
<div class="col-xs-1"></div>
<div class="col-xs-2">
    <div class="row">
    Gestion des publipostages
    </div>
</div>
<div class="col-xs-8" >
    <div id="flashMessage" ng-class="flashStyle" ng-show="flashMessage">
            {{flashMessage}}
    </div>
    <table class="table">
    <thead>
        <th>ID</th>
        <th>Message</th>
        <th>Descriptif</th>
        <th>Destinataire</th>
        <th>Date</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="publi in publis">
            <td>{{publi.id}}</td>
            <td><p ng-bind-html="toTrustedHtml(publi.message)"></p></td>
            <td>{{publi.descriptif}}</td>
            <td>{{publi.destinataires}}</td>
            <td>{{publi.date}}</td>
            <td><a class="btn btn-default btn-sm" tooltip="dupliquer" ng-click="alert(dupliquer);"><i class="fa fa-copy"></i></a>
            <a class="btn btn-default btn-sm" tooltip="supprimer" ng-click="removePubli(publi.id)"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
    <a class="btn btn-primary btn-sm" tooltip="Nouveau" href="#/creer"><i class="fa fa-plus"></i></a>
    <a class="btn btn-primary btn-sm" href="#/" tooltip="retour à la page publique"><i class="fa fa-reply"></i></a>
</div>
<div class="col-xs-1"></div>



