<div class="row-fluid">
    <div class="col-md-4 col-lg-4">
        <div class="row">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <h2 class="transparent visible-md visible-lg">étape 1: type de message</h2>
                <h2 class="menu-text-transparent">{{menus[$state.params["type"]]['right_menu_text']}} {{}}</h2>
                <h2 class="transparent visible-md visible-lg">étape 2: les destinataires</strong></h2>
                <p class="menu-text-hidden visible-md visible-lg"><strong> {{menus[$state.params["type"]]['recpitualif']}} <span ng-repeat="profil in messageObject['profils']">{{profil}}, </span>  <span ng-repeat="destination in messageObject['destinations']"> {{destination['classe_libelle']}}{{destination['groupe_libelle']}}{{destination['description']}}</span></p>
                <h2><strong>étape 3: message</strong></h2>
                <p class="menu-text visible-md visible-lg">Ecrire le message</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-8">
                <div style="padding:5%">
                    <form role="form" >
                        <div class="form-group">
                          <label for="title">Titre du message:</label>
                          <input type="text" class="form-control" ng-model="title" id="titre"  placeholder="titre">
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="btn btn-default btn-sm" ng-click="showtoolbar=!showtoolbar">inserer des données</a><br/>
                        <div ng-show="showtoolbar">
                            <div class="btn-group">
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<civilite>[civilite]</civilite>')">Civilité</a>
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<nom>[nom]</nom>')">Nom</a>
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<prenom>[prenom]</prenom>')">Prenom</a>
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<adresse>[adresse]</adresse>')">Adresse</a>  
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<date>[date]</date>')">Date du Jours</a>  
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<signature>[signature]</signature>')">Singature</a>   
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<nomEleve>[nomEleve]</nomEleve>')">Nom de l'élève</a>  
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<prenomEleve>[prenomEleve]</prenomEleve>')">Prénom de l'élève</a>   
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<classe>[classe]</classe>')">Classe</a>  
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<blogEtab>[blogEtab]</blogEtab>')">Lien blog de l'etablissement</a>    
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<blogGroupe>[blogGroupe]</blogGroupe>')">Lien blog de groupe</a>
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<blogClasse>[blogGroupe]</blogClasse>')">Lien blog de classe</a> 
                            <a  class="btn btn-default btn-sm" ng-click="addToMessage('<a href=\'http://www.laclasse.com\'>Laclasse</a>')">Lien Laclasse.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div ng-class="menus[$state.params['type']].icon_div"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-12">
                <div style="padding:4%">
                    <form role="form">
                        <div class="form-group">
                          <textarea  ui-tinymce="tinymceOptions" ng-model="tinyMessage" id="corps"></textarea>
                          <!-- <div text-angular ng-model="tinyMessage"></div> -->
                          <!-- <div ta-bind ng-model="tinyMessage"></div> -->
                          {{tinyMessage}}
                        </div>
                    </form>
                    <div style="text-align: center">
                        <a class='btn btn-default btn-sm' ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="goToPreview($state.params['type'])">prévisualiser</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>