<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p class="menu-text">Etape 1: type de message</p>
                <p class="menu-text">Etape 2: les destinataires</strong></p>
                <p class="menu-text-hidden"><strong> {{menus[$state.params["type"]]['recpitualif']}} <span ng-repeat="destination in messageObject['destinations']"> {{destination['classe_libelle']}}</span></p>
                <p class="menu-text"><strong>Etepe 3: Message</strong></p>
                <p class="menu-text">Ecrire le message</p>
                </br>
                </br>
            </div>    
        </div>        
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-8">
                <div style="padding:5%">
                    <form role="form" >
                        <div class="form-group">
                          <label for="title">Titre du message:</label>
                          <input type="text" class="form-control" ng-model="title" id="titre"  placeholder="titre">
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="btn btn-default" ng-click="showtoolbar=!showtoolbar">inserer des données</a><br/>
                        <div ng-show="showtoolbar"><a  class="btn btn-default" ng-click="addToMessage('&lt;civilite&gt;&lt;/civilite&gt;')">Civilité</a> <a class="btn btn-default" ng-click="">Nom</a> <a class="btn btn-default"ng-click="">Prenom</a> <a  class="btn btn-default" ng-click="">Adresse</a>  <a  class="btn btn-default" ng-click="">Date du Jours</a>  <a  class="btn btn-default" ng-click="">Singature</a>   <a  class="btn btn-default" ng-click="">Nom de l'élève</a>  <a  class="btn btn-default" ng-click="">Prénom de l'élève</a>   <a  class="btn btn-default" ng-click="">Classe</a>  <a  class="btn btn-default" ng-click="">Lien blog de l'etablissement</a>    <a  class="btn btn-default" ng-click="">Lien blog de groupe</a>     <a  class="btn btn-default" ng-click="">Lien blog de classe</a> <a  class="btn btn-default" ng-click="">Lirn Laclasse.com</a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div ng-class="menus[$state.params['type']].icon_div"></div>
            </div>
        </div>
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-10">
                <div style="padding:4%">
                    <form role="form">
                        <div class="form-group">
                          <textarea  ui-tinymce="tinymceOptions" ng-model="tinyMessage" id="corps"></textarea>
                          <textarea  ng-model="tinyMessage" id="corps"></textarea>
                        </div>
                    </form> 
                    <label>Titre:</label><p>{{title}}</p>
                    <label>Message en html:</label><p ng-bind-html="toTrustedHtml(tinyMessage)"></p>
                    <label>message en texte:</label>{{tinyMessage}}
                    <div style="text-align: center">
                        <a class='btn btn-default btn-sm' ng-click="goToPreview($state.params['type'])">prévisualiser</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>