<div class="row-fluid">
    <div class="col-md-4 col-lg-4">
        <div class="row">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="padding:5px 0px 10px 0px"><a class="navbar-brand" href="#"><i class="fa fa-home fa-2x"></i></a></p><br/>
                <h2 class="transparent visible-md visible-lg">étape 1: type de message</h2>
                <h2 class="menu-text-transparent">{{menus[$state.params["type"]]['right_menu_text']}} {{}}</h2>
                <h2 class="transparent visible-md visible-lg">étape 2: les destinataires</strong></h2>
                <p class="menu-text-hidden visible-md visible-lg">
                  <ng-include src="'views/parts/recap_destinataires.html'" />
                </p>
                <h2>étape 3: message</h2>
                <p class="menu-text visible-md visible-lg">Ecrire le message</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-8">
                <div style="padding:5%">
                    <form role="form" >
                        <div class="form-group">
                          <label for="title">Titre du message:</label>
                          <input type="text" class="form-control" ng-model="title" id="titre"  placeholder="titre">
                        </div>
                    </form>
                    <div class="form-group">
                        <a class="btn btn-default btn-sm" ng-click="showtoolbar=!showtoolbar">Inserer des données</a><br/>
                        <div ng-show="showtoolbar">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm" ng-repeat="item in templateItems | templateItemsTypeFilter" ng-click="addToMessage(item.value)">{{item.message}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div ng-class="menus[$state.params['type']].icon_div"></div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-12">
                <div style="padding:4%">
                    <form role="form">
                        <div class="form-group">
                          <textarea ui-tinymce="tinymceOptions" ng-model="tinyMessage"></textarea>
                          {{tinyMessage}}
                        </div>
                    </form>
                    <div style="text-align: center">
                        <a class='btn btn-default btn-sm' ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="goToDestinataire($state.params['type'])">changer de destinataires</a>
                        <a class='btn btn-default btn-sm' ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="goToPreview($state.params['type'])" ng-disabled="tinyMessage == ''">prévisualiser</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>