<div class="row-fluid">
    <div class="col-md-4 col-lg-4" style="border-left: 1px solid #eee;">
        <div class="row">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="padding:5px 0px 10px 0px"><a class="navbar-brand" href="#"><i class="fa fa-home fa-2x"></i></a></p><br/>
                <h2 class="transparent visible-lg visible-md">Etape 1: type de message</h2>
                <h2 class="menu-text-transparent">{{menus[$state.params["type"]]['right_menu_text']}} {{}}</h2>
                <h2 class="transparent visible-lg visible-md">Etape 2: les destinataire</h2>
                <p class="menu-text-hidden visible-md visible-lg">
                  <ng-include src="'views/parts/recap_destinataires.html'" />
                </p>
                <h2 class="transparent visible-lg visible-md">Etape 3: message</h2>
                <h2 class="transparent visible-lg visible-md">Etape 4: aperçu</h2>
                <h2><strong>Etape 5: mode de diffusion</strong></h2>
                <p class="menu-text">
                    Choisir les modes de
                    diffusion du message
                </p>    
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <!-- icon -->
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div ng-class="menus[$state.params['type']].icon_div" class="col-md-2 col-md-offset-5"></div>  <!-- col-md-2  col-md-2 to center content -->
        </div>
        <!-- destinataire -->
        <div class="row" ng-class="menus[$state.params['type']].color">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <div style="margin-left:10%; margin-right:10%;">
                    <p style="text-align: ustify; background-color:white; padding-left:5%%; padding-right:5%; padding-top:1%;">
                        <strong>Destinataires:</strong> <span ng-repeat="destination in messageObject['destinations']"> {{destination['classe_libelle']}}{{destination['groupe_libelle']}}{{destination['description']}}</span>
                        </br>
                        <strong>Titre de message:</strong>  {{messageObject['title']}}
                        </br> 
                        <strong>Message en html:</strong>  {{messageObject['message']}}
                    </p>
                    <p style="background-color:white; padding-left:5%%; padding-right:5%; padding-top:1%; height:200px;">
                        <strong>Mode de diffusion</strong><br/>
                        <input id="byMail" type="radio" ng-model="diffusion_type" value="email"> <label for="byMail" class="css-label">{{diffusion_info.nb_email}} mails à envoyer et un fichier pdf à imprimer pour les {{diffusion_info.nb_pdf}} destinataires sans adresse de courrier électronique valide </label></br>
                        <input id="byPdf" type="radio" ng-model="diffusion_type" value="pdf"> <label for="byPdf" class="css-label">un fichier pdf à imprimer pour les {{diffusion_info.nb_total}} destinataires</label><br/>
                    </p>
                </div>
                <p style="text-align: center">
                    <a class="btn btn-sm" ng-class="menus[$state.params['type']].color" style="border-color:white;color:white"  ng-click="sendMessage($state.params['type'])" ng-disabled="diffusion_type == undefined">envoyer {{diffusion_type}}</a>
                </p>
            </div>
        </div>
    </div>    
</div>