<!-- Example row of columns -->
    <tabset>
        <tab heading="Mes Classes">
            <br/>
            <div class="row">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li>
                          <span class="glyphicon">5.3</span>
                          <span class="glyphicon-class">collège Charpak</span>
                        </li>
                      
                        <li>
                          <span class="glyphicon">5.5</span>
                          <span class="glyphicon-class">collège Charpak</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                        <span class="glyphicon">
                            5.3 College Charpack
                        </span>
                    </a>
                </div>
                  <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                 <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                 <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                 <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                 <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                 <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
                  <div class="col-xs-2">
                     <a href="#" class="thumbnail">
                    <img src="http://placehold.it/140x100" alt="..." />
                    </a>
                </div>
            </div>-->
        </tab>
        <tab heading="Mes Groupes">
            <br/>
            <div class="row">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li>
                          <span class="glyphicon">5.3</span>
                          <span class="glyphicon-class">collège Charpak</span>
                        </li>
                      
                        <li>
                          <span class="glyphicon">5.5</span>
                          <span class="glyphicon-class">collège Charpak</span>
                        </li>
                    </ul>
                </div>    
            </div>
        </tab>
        <tab heading="Tous">
           <h4>Votre Sélection</h4>
           <hr>
            Tous les élèves, les prof, et les parents des classes de ... et des groupes ..
            <span class="badge badge-success">1264 utilisateurs</span>
            <span class="badge badge-warning">354 utilisateur n'ont pas d'adresse mail, pour eux, PDF!</span>
            <br/>
            <h4>Comment?</h4>
            <hr/>
            <a class="btn btn-primary">Notification</a> <a class="btn btn-default">Mail/Pdf</a>
            <br/>
            <div class="row">
            <div class="col-xs-10">    
                <form method="post">
                    <textarea  ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
                </form>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Données de l'ENT</div>
                    <div class="panel-body">
                      Panel content
                    </div>
                </div>
            </div>
            </div>
            {{tinymceModel}}
        </tab>
    </tabset>
    

<a href="#/view2">view2</a>