<div class="row-fluid">
    <div class="col-xs-4 col-s-m4 col-md-4 col-lg-4 aside">
        <div class="row-fluid">
            <div class="col-xs-12 col-s-m12 col-md-12 col-lg-12">
                <p style="color: #64BDF5">
                    <strong>Outil de communication</strong>
                </p>
                <p style="color: #64BDF5">
                    {{menus[$state.params["type"]]['left_menu_text']}}
                    </br>
                    </br>
                    </br>
                    <a class='btn btn-info btn-sm' ng-click="goToDestinataire($state.params['type'])">{{menus[$state.params["type"]]['left_menu_button_text']}}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-s-m8 col-md-8 col-lg-8">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 gris3">
                <a ng-click="goTo('/type_message/info_famille')">
                    <div class="square-icon">
                      <data-ng-include class="svg" src="square.icone"></data-ng-include>
                      <span><i class="fa fa-users"></i></span>
                      <br>
                      <span>{{menus[$state.params["type"]]['right_menu_text']}}</span>
                    </div>
                </a>
            </div>
            
            <div ng-repeat="classe in regroupements['classes']" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-class="classe.color">
                <a ng-click="goToHistory(classe.classe_id)">
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span><i class="fa fa-users"></i></span>
                    <!--<br>-->
                    <span>{{classe.classe_libelle}}</span>
                    <span>{{classe.etablissement_nom}}</span>
                  </div>
                </a>
            </div>
            
            <div ng-repeat="groupe in regroupements['groupes_eleves']" class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-class="groupe.color">
                <a ng-click="goToHistory(groupe.groupe_id)">
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span><i class="fa fa-users"></i></span>
                    <!--<br>-->
                    <span>{{groupe.groupe_libelle}}</span>
                    <span>{{groupe.etablissement_nom}}</span>
                  </div>
                </a>
            </div>
            
            <div ng-repeat="emptysquare in empty_squares track by $index" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 {{emptysquare.color}}">
                <a ng-click="goTo(square.lien)">
                  <div class="square-icon">
                    <data-ng-include class="svg" src="square.icone"></data-ng-include>
                    <span>empty</span>
                    <br>
                    <span>empty</span>
                  </div>
                </a>
            </div>
            
        </div>   
    </div>
</div>

