# coding: utf-8

# Connexion avec l'annuaire ENT
ANNUAIRE = {
  :url => "http://localhost:9292/api",
  :service_user => "app/users/",
  :service_users => "app/users/liste/",
  :service_regroupement => "app/regroupements/",
  :service_profils => "app/profils",
  :service_personnel => "app/etablissements/",
  :app_id => "Publi",
  :secret => "secret"
}