# -*- coding: utf-8 -*-

# CAS Configuration.
module CASLaclasseCom
  OPTIONS = { 
  	host: 'www.cas.com',
    ssl: true,
    port: 443,
    disable_ssl_verification: true,
    login_url: '/cas/login',
    service_validate_url: '/cas/serviceValidate',
    logout_url: '/cas/logout',
    logout_saml:'/saml/saml2/idp/SingleLogoutService.php'
  }
end