# -*- coding: utf-8 -*-
ENV[ 'RACK_ENV' ] = 'development'
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Configurer ici le virtual path de l'application/
# /!\ Il est obligatoire de mettre l'application sous un virtual path du fait de notre architecture HAProxy.
# On définit ici un virtual path sans le slash final.
APP_PATH = '/publi'
APP_VERSION = %x(git describe --tag).chomp
SESSION_KEY = 'MyKeyForTheSession'

# CAS Configuration.
module CASAUTH
  CONFIG = {
    host: 'v3dev.laclasse.com',
    ssl: true,
    port: 443,
    disable_ssl_verification: true,
    login_url: '/cas/login',
    service_validate_url: '/cas/serviceValidate',
    logout_url: '/cas/logout',
    logout_saml_url:'/saml/saml2/idp/SingleLogoutService.php',
    full_host: 'https://v3dev.laclasse.com', # Fixes OmniAuthCAS+Rack X-Forwarded-Proto crap
   restmod_url: '/sso/api/v1/tickets'
  }
end

# Connexion avec l'annuaire ENT
ANNUAIRE = {
  url: "http://localhost:9292/api",
  app_id: "Publi",
  api_key: "secret",
  api_mode: 'v3'
}

REDIS = {
     host: 'redis.dev.laclasse.lan',
     port: 6379 ,
     redis_root: 'com.laclasse.v3localhost'
}
