# -*- coding: utf-8 -*-
ENV[ 'RACK_ENV' ] = 'development'
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Configurer ici le virtual path de l'application/
# /!\ Il est obligatoire de mettre l'application sous un virtual path du fait de notre architecture HAProxy.
# On définit ici un virtual path sans le slash final.
APP_PATH = '/app'

# CAS Configuration.
module CASAUTH
  CONFIG = {
  	host: 'www.cas.com',
    ssl: true,
    port: 443,
    disable_ssl_verification: true,
    login_url: '/cas/login',
    service_validate_url: '/cas/serviceValidate',
    logout_url: '/cas/logout',
    logout_saml_url:'/saml/saml2/idp/SingleLogoutService.php',
    restmod_url: '/sso/api/v1/tickets',
  }
end

# Connexion avec l'annuaire ENT
ANNUAIRE = {
  url: "http://localhost:9292/api",
  service_user: "app/users/",
  service_regroupement: "app/regroupements/",
  service_profils: "app/profils",
  service_personnel: "app/etablissements/",
  service_diffusionInfo: "/publipostages/diffusionInfo/",
  service_publipostage: "publipostages/",
  app_id: "Publi",
  api_key: "secret"
}